- var shopsList = {'gourmet': {'className': 'shop_big', 'link': '#'}, 'carhartt': {'className': '', 'link': '#'}, 'adidas': {'className': '', 'link': '#'}, '10deep': {'className': 'shop_medium', 'link': '#'}, 'palace': {'className': 'shop_medium', 'link': '#'}, 'nike': {'className': 'shop_medium', 'link': '#'}};

- var headerMenu = {'menu': {'mens': '', 'womans': 'https://vk.com', 'brands': '', 'sale': '', 'news':''}};

- var footerMenu = {'menu': {'PRIVACY':'', 'TERMS':'', 'SHOP':'', 'ABOUT':'', 'CONTACT':''}, 'subclass':'menu-footer'};


         
			